<!DOCTYPE html>
<html lang="en">
<div th:replace= "~{/fragments/header.html :: header }"></div>
<body>
    <div th:replace= "~{/fragments/menu.html :: menu }"></div>
    <h1>Gallery of Celta de Vigo</h1>

    <div>
        <img th:src="@{/img/celta-vigo-busca-ganar-premio.jpg}"  width="300" height="200">
        <img th:src="@{/img/celta-vigo-laliga-LUCA-DE-A-TORRE-MLS-FICHAJES-RUMOIRES-VENTA-SALIDA.jpg.webp}"  width="300" height="200">
        <img th:src="@{/img/celta-vigo-v-girona-fc-laliga-ea-sports.jpg}"  width="300" height="200">
        <img th:src="@{/img/Convocatoria_Internacionais_16-9-1024x576.png}" width="300" height="200">
    </div>
</body>
</html>