<!DOCTYPE html>
<html lang="en">
<div th:replace= "~{./fragments/header.html :: header }"></div>
<body>
    <div th:replace= "~{./fragments/menu.html :: menu }"></div>
    <h1>Important Achievements of Celta de Vigo</h1>
    <h2>Copa del Rey Runners-up:</h2>
    <ul>
        <li>1947–48 (lost against Sevilla)</li>
        <li>1993–94 (lost against Real Zaragoza)</li>
        <li>2000–01 (lost against Real Zaragoza)</li>
    </ul>

    <h2>Participation in UEFA Champions League:</h2>
    <ul>
        <li>2003–04 (eliminated in Round of 16 by Arsenal)</li>
    </ul>

    <h2>Qualifications in UEFA Europa League:</h2>
    <ul>
        <li>1998–99 (Quarter-finals)</li>
        <li>1999–2000 (Round of 16)</li>
        <li>2000–01 (Quarter-finals)</li>
        <li>2006–07 (Round of 32)</li>
        <li>2016–17 (Semi-finals, eliminated by Manchester United)</li>
    </ul>

    <h2>Champion of the Spanish Second Division:</h2>
    <ul>
        <li>1935–36</li>
        <li>1980–81</li>
        <li>1991–92</li>
    </ul>
</body>
</html>